Repository match4everyone/match4healthcare, pull requests merged in 2020-03, with the labels that each got.

#71 Remove hospital email
  README.md
  backend/Dockerfile
  backend/apps/accounts/views.py
  backend/apps/iamstudent/views.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/migrations/0003_auto_20200325_0703.py
  backend/apps/ineedstudent/models.py
  backend/iamstudent/migrations/0008_merge_20200325_0249.py
  backend/locale/en/LC_MESSAGES/django.po
  deploy.sh
  docker-compose.dev.yml
  docker-compose.prod.yml
Labels: PR:ready-for-merge

#69 Better layout for the student form
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/models.py
  backend/iamstudent/migrations/0009_auto_20200325_0735.py
  backend/iamstudent/migrations/0010_auto_20200325_0741.py
  backend/iamstudent/migrations/0011_auto_20200325_0809.py
  backend/iamstudent/templates/input_buttongroup-any_indicator.html
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge

#88 Hide registration options for logged in users. Closes #84
  backend/templates/base.html
Labels: PR:ready-for-merge

#74 Fixemailheaderinjection
  backend/accounts/templates/registration/password_set_email_.html
  backend/apps/accounts/templates/registration/password_reset_email_.html
  backend/apps/accounts/views.py
  backend/apps/iamstudent/views.py
Labels: PR:ready-for-merge

#73 closes #42
  backend/accounts/templates/registration/password_reset_email_.html
  backend/accounts/templates/registration/password_set_email_.html
  backend/accounts/views.py
Labels: PR:ready-for-merge

#83 Insert createsuperuser
  README.md
Labels: PR:ready-for-merge

#113 Datenschutzerklaerung
  README.md
  backend/apps/accounts/templates/approve_hospitals.html
  backend/apps/accounts/templates/registration/password_reset_email_subject.txt
  backend/apps/accounts/urls.py
  backend/apps/accounts/utils.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/urls.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/migrations/0004_hospital_appears_in_map.py
  backend/apps/ineedstudent/models.py
  backend/apps/ineedstudent/templates/hospital_view.html
  backend/apps/ineedstudent/templates/map_hospitals.html
  backend/apps/ineedstudent/urls.py
  backend/apps/ineedstudent/views.py
  backend/apps/mapview/templates/mapview/map.html
  backend/match4healthcare/urls.py
  backend/match4healthcare/views.py
  backend/templates/dataprotection.html
  backend/templates/impressum.html
Labels: PR:ready-for-merge

#104 slight improvements to signup email etc + some minor refactoring
  backend/apps/accounts/templates/approve_hospitals.html
  backend/apps/accounts/templates/registration/password_reset_email_subject.txt
  backend/apps/accounts/urls.py
  backend/apps/accounts/utils.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/urls.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/migrations/0004_hospital_appears_in_map.py
  backend/apps/ineedstudent/models.py
  backend/apps/ineedstudent/templates/hospital_view.html
  backend/apps/ineedstudent/templates/map_hospitals.html
  backend/apps/ineedstudent/urls.py
  backend/apps/ineedstudent/views.py
  backend/apps/mapview/templates/mapview/map.html
Labels: PR:ready-for-merge

#95 Design v3
  backend/apps/accounts/templates/approve_hospitals.html
  backend/apps/accounts/templates/hospital_edit.html
  backend/apps/accounts/templates/hospital_signup.html
  backend/apps/accounts/templates/registration/login.html
  backend/apps/accounts/templates/registration/logout.html
  backend/apps/accounts/templates/registration/password_change_done_.html
  backend/apps/accounts/templates/registration/password_change_form_.html
  backend/apps/accounts/templates/registration/password_reset_complete_.html
  backend/apps/accounts/templates/registration/password_reset_confirm_.html
  backend/apps/accounts/templates/registration/password_reset_done_.html
  backend/apps/accounts/templates/registration/password_reset_form_.html
  backend/apps/accounts/templates/registration/password_set_email_.html
  backend/apps/accounts/templates/student_edit.html
  backend/apps/accounts/templates/student_signup.html
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/templates/thanks.html
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/templates/thanks_hospital.html
  backend/apps/mapview/templates/mapview/map.html
  backend/static/css/general.css
  backend/static/css/map.css
  backend/static/img/bg-login.jpg
  backend/static/img/login-bg.jpg
  backend/static/img/match4healthcare-logo.svg
  backend/static/img/team/andreas_zehetner.jpg
  backend/templates/home.html
Labels: PR:wip

#126 50 34 redirects
  backend/apps/accounts/views.py
  backend/templates/base.html
  backend/templates/home.html
Labels: PR:ready-for-merge

#114 97 student form improvements
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/migrations/0012_auto_20200325_2034.py
  backend/apps/iamstudent/models.py
Labels: PR:ready-for-merge

#143 add numpy requirement
  backend/requirements.txt
Labels: PR:ready-for-merge

#145 My form update closes #99
  backend/__init__.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/migrations/0014_auto_20200326_0916.py
  backend/apps/iamstudent/models.py
Labels: PR:ready-for-merge

#148 129 gendering
  backend/apps/iamstudent/forms.py
Labels: PR:ready-for-merge

#141 Remove email changing
  backend/apps/accounts/templates/hospital_edit.html
  backend/apps/accounts/templates/student_edit.html
  backend/apps/accounts/views.py
  backend/apps/mapview/templates/mapview/map.html
Labels: PR:ready-for-merge

#156 Ask before account delete
  backend/apps/accounts/templates/deleted_user.html
  backend/apps/accounts/templates/deleted_user_ask.html
  backend/apps/accounts/templates/hospital_edit.html
  backend/apps/accounts/templates/registration/login.html
  backend/apps/accounts/templates/registration/logout.html
  backend/apps/accounts/templates/registration/password_change_done_.html
  backend/apps/accounts/templates/registration/password_change_form_.html
  backend/apps/accounts/templates/registration/password_reset_complete_.html
  backend/apps/accounts/templates/registration/password_reset_confirm_.html
  backend/apps/accounts/templates/registration/password_reset_done_.html
  backend/apps/accounts/templates/registration/password_reset_email_subject.txt
  backend/apps/accounts/templates/registration/password_reset_form_.html
  backend/apps/accounts/templates/student_edit.html
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/templates/emails_sent.html
  backend/apps/iamstudent/templates/send_mail_hospital.html
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/ineedstudent/templates/list_by_plz.html
  backend/templates/base.html
Labels: PR:ready-for-merge

#151 Fix titles in html templates and fix translation in new table
  backend/apps/accounts/templates/deleted_user.html
  backend/apps/accounts/templates/registration/login.html
  backend/apps/accounts/templates/registration/logout.html
  backend/apps/accounts/templates/registration/password_change_done_.html
  backend/apps/accounts/templates/registration/password_change_form_.html
  backend/apps/accounts/templates/registration/password_reset_complete_.html
  backend/apps/accounts/templates/registration/password_reset_confirm_.html
  backend/apps/accounts/templates/registration/password_reset_done_.html
  backend/apps/accounts/templates/registration/password_reset_email_subject.txt
  backend/apps/accounts/templates/registration/password_reset_form_.html
  backend/apps/iamstudent/templates/emails_sent.html
  backend/apps/iamstudent/templates/send_mail_hospital.html
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/ineedstudent/templates/list_by_plz.html
  backend/templates/base.html
Labels: PR:ready-for-merge

#171 Correct initial country code in listview, closes #117, closes #165
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/iamstudent/views.py
Labels: PR:ready-for-merge

#169 Enforces Email validation for hospitals as well
  backend/apps/accounts/templates/hospital_signup.html
  backend/apps/accounts/templates/registration/password_set_email_hospital.html
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/templates/thanks.html
  backend/apps/ineedstudent/forms.py
Labels: PR:wip

#172 Add more filtering capabilities
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/migrations/0015_auto_20200326_1248.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/tables.py
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/iamstudent/views.py
Labels: PR:wip

#175 Statistics
  backend/gunicorn.conf.py
Labels: PR:ready-for-merge

#183 Fixes #150
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/models.py
Labels: PR:ready-for-merge

#205 Closes #199
  backend/apps/iamstudent/forms.py
Labels: PR:ready-for-merge

#207 Closes #206
  backend/apps/iamstudent/views.py
  backend/apps/mapview/views.py
Labels: PR:ready-for-merge

#201 Set from_mail for password reset mails
  backend/apps/accounts/urls.py
Labels: PR:ready-for-merge

#210 Add js disable for #204
  backend/apps/iamstudent/forms.py
  backend/apps/ineedstudent/forms.py
Labels: PR:ready-for-merge

#241 Re-open Design v3
  backend/apps/accounts/forms.py
  backend/apps/accounts/templates/approve_hospitals.html
  backend/apps/accounts/templates/registration/password_set_email_.html
  backend/apps/accounts/templates/registration/password_set_email_hospital.html
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/iamstudent/templates/thanks.html
  backend/apps/mapview/templates/mapview/map.html
  backend/match4healthcare/settings/development.py
  backend/static/css/general.css
  backend/static/css/map.css
  backend/static/img/bissfest.png
  backend/static/img/facebook-share.jpg
  backend/static/img/thieme.png
  backend/templates/about.html
  backend/templates/base.html
  backend/templates/dataprotection.html
  backend/templates/home.html
  backend/templates/impressum.html
Labels: delete-old-commits!, re-open-for-new-staging

#245 New narrow filter
  backend/apps/iamstudent/views.py
  backend/apps/mapview/views.py
Labels: re-open-for-new-staging

#242 Use sendgrid api instead of SMTP for less overhead
  backend/match4healthcare/settings/production.py
Labels: re-open-for-new-staging

#243 Add delete button for hospitals
  backend/apps/iamstudent/forms.py
Labels: re-open-for-new-staging

#246 Add js disable for #204
  backend/apps/iamstudent/forms.py
  backend/apps/ineedstudent/forms.py
Labels: re-open-for-new-staging

#244 Fix unerstützen -> Unterstützten on home page
  backend/templates/home.html
Labels: re-open-for-new-staging

#236 Re-open Design v4
  backend/apps/accounts/templates/deleted_user.html
  backend/apps/accounts/templates/deleted_user_ask.html
  backend/apps/accounts/templates/registration/password_set_email_.html
  backend/apps/accounts/templates/registration/password_set_email_hospital.html
  backend/apps/accounts/urls.py
  backend/locale/en/LC_MESSAGES/django.mo
  backend/templates/base.html
  backend/templates/home.html
Labels: delete-old-commits!, re-open-for-new-staging

#234 Re-open smaller images
  backend/apps/accounts/templates/registration/password_set_email_.html
  backend/apps/accounts/templates/registration/password_set_email_hospital.html
  backend/static/css/general.css
  backend/static/img/BAEK.png
  backend/static/img/Hashtag-Gesundheit.png
  backend/static/img/facebook.svg
  backend/static/img/instagram.svg
  backend/static/img/twitter.svg
  backend/static/img/wir-vs-virus.svg
  backend/static/img/youtube.svg
  backend/templates/about.html
  backend/templates/base.html
  backend/templates/home.html
Labels: delete-old-commits!, re-open-for-new-staging

#261 Improved Testing
  backend/apps/iamstudent/forms.py
  backend/apps/ineedstudent/urls.py
  backend/apps/ineedstudent/views.py
  backend/apps/test_all_url_endpoints.py
  backend/locale/en/LC_MESSAGES/django.mo
Labels: PR:ready-for-merge

#266 Fix mail settings
  backend/apps/iamstudent/views.py
  backend/match4healthcare/settings/common.py
  backend/match4healthcare/settings/development.py
  backend/match4healthcare/settings/production.py
Labels: PR:ready-for-merge, size/L

#257 Enable the deletion of hospitals for a staff member
  backend/apps/accounts/templates/approve_hospitals.html
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/apps/ineedstudent/templates/approval_button.html
  backend/apps/ineedstudent/templates/delete_button.html
  backend/apps/ineedstudent/views.py
  backend/match4healthcare/settings/common.py
Labels: PR:ready-for-merge, size/M

#272 Fix pagination error of hospitals on staff page
  backend/apps/accounts/views.py
Labels: PR:ready-for-merge, size/S

#269 404and500
  backend/match4healthcare/urls.py
  backend/match4healthcare/views.py
  backend/templates/404.html
  backend/templates/500.html
Labels: size/L

#268 Disable button on submit in forms
  backend/apps/accounts/templates/hospital_signup.html
  backend/apps/accounts/templates/student_signup.html
  backend/apps/iamstudent/forms.py
Labels: PR:ready-for-merge, size/S

#275 Value must be true or false
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/models.py
Labels: size/L

#249 Minimal text and layout changes
  backend/apps/accounts/templates/registration/password_reset_confirm_.html
  backend/apps/iamstudent/forms.py
Labels: PR:wip, size/S

#299 Fix semester in vorklinik
  backend/apps/iamstudent/models.py
Labels: size/XS

#276 Add tests to check the availability of the website & move static and media folder location
  .travis.yml
  backend/match4healthcare/settings/common.py
  backend/run/.gitignore
  backend/run/media/.gitkeep
  backend/run/static/.gitkeep
  scripts/check_website_availability.sh
  scripts/write_envs_to_file.sh
Labels: PR:ready-for-merge

#280 Refactor filtering functionality
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/migrations/0002_auto_20200329_1618.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/iamstudent/views.py
  backend/apps/iamstudent/widgets.py
  backend/apps/ineedstudent/views.py
Labels: PR:ready-for-merge, size/XL

#301 Add user de/activation and emails
  backend/apps/accounts/templates/change_activation_ask.html
  backend/apps/accounts/templates/student_edit.html
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/migrations/0003_auto_20200329_1859.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/templates/emails_sent.html
  backend/apps/iamstudent/templates/send_mail_hospital.html
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/iamstudent/views.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/migrations/0002_hospital_max_mails_per_day.py
  backend/apps/ineedstudent/models.py
  backend/match4healthcare/settings/common.py
Labels: PR:ready-for-merge, size/L

#311 Add backup of database
  .gitignore
  backend/backups/.gitignore
  backup.sh
  database/.gitignore
  docker-compose.prod.yml
Labels: size/XS

#278 Resend validation mail
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/forms.py
Labels: size/L

#314 Nice version of PR #302
  backend/apps/accounts/views.py
  backend/apps/iamstudent/migrations/0003_auto_20200330_0101.py
  backend/apps/iamstudent/migrations/0004_merge_20200330_0124.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/migrations/0002_auto_20200330_0101.py
  backend/apps/ineedstudent/migrations/0003_merge_20200330_0124.py
  backend/apps/ineedstudent/models.py
  backend/apps/ineedstudent/templates/map_hospitals.html
  backend/apps/ineedstudent/templates/zustimmung.html
  backend/apps/ineedstudent/urls.py
  backend/apps/ineedstudent/views.py
  backend/apps/test_all_url_endpoints.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/L

#313 Make email form for students
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/match4healthcare.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/apps/iamstudent/migrations/0003_auto_20200330_0020.py
  backend/apps/iamstudent/migrations/0004_merge_20200330_0152.py
  backend/apps/iamstudent/migrations/0005_merge_20200330_0221.py
  backend/apps/iamstudent/models.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/templates/hospital_contacted.html
  backend/apps/ineedstudent/templates/hospital_view.html
  backend/apps/ineedstudent/views.py
Labels: size/M

#315 Add another checkbox to student form
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/match4healthcare.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/migrations/0005_student_einwilligung_agb.py
  backend/apps/iamstudent/migrations/0006_merge_20200330_0313.py
  backend/apps/iamstudent/models.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/templates/home.html
Labels: size/S

#316 biggestPR
  backend/apps/iamstudent/forms.py
Labels: size/XS

#317 Fix link
  backend/apps/accounts/templates/student_edit.html
Labels: size/XS

#319 Correct label
  backend/apps/accounts/templates/registration/password_set_email_.html
  backend/apps/ineedstudent/forms.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/S

#333 update
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/templates/emails_sent.html
  backend/apps/iamstudent/views.py
Labels: size/S

#332 Add facility counter (closes #329)
  backend/apps/accounts/views.py
Labels: size/XS
