Repository match4everyone/match4healthcare, pull requests merged in 2020-07, with the labels that each got.

#539 Remove (possible) syntax error in backup.sh
  backup.sh
Labels: size/XS

#503 Add visualization of statistics with history
  .isort.cfg
  backend/apps/accounts/db_stats.py
  backend/apps/accounts/templates/database_stats.html
  backend/apps/accounts/views_staff.py
  backend/requirements.txt
Labels: size/L

#540 Docker localhost
  README.md
  docker-compose.dev.yml
  docker-compose.prod.yml
Labels: size/S
