Repository match4everyone/match4healthcare, pull requests merged in 2020-04, with the labels that each got.

#336 Issue 288 2
  backend/apps/accounts/templates/registration/password_set_email_.html
  backend/apps/accounts/templates/registration/password_set_email_hospital.html
Labels: size/S

#341 New translations
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/M

#343 fix small issues pre deployment
  backend/apps/accounts/templates/student_edit.html
  backend/apps/accounts/views.py
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/ineedstudent/forms.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge, size/S

#339 Show whether student has been contacted already
  backend/apps/iamstudent/tables.py
  backend/apps/iamstudent/views.py
Labels: PR:ready-for-merge, size/M

#342 individual student view v1
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/tables.py
  backend/apps/iamstudent/templates/input_buttongroup-traffic_light.html
  backend/apps/iamstudent/templates/view_student.html
  backend/apps/iamstudent/urls.py
  backend/apps/iamstudent/views.py
  backend/apps/ineedstudent/views.py
  backend/apps/test_all_url_endpoints.py
Labels: PR:ready-for-merge, PR:wip, size/L

#349 Benachrichtung an Hospital bei erfolgreichem Mail Versand an Helfende versenden
  backend/apps/iamstudent/views.py
Labels: PR:ready-for-merge, size/S

#355 Commited wrong file for name fixing ... :/
  backend/apps/iamstudent/forms.py
  backend/apps/ineedstudent/views.py
Labels: size/XS

#352 Neue berufsgruppen
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/migrations/0007_auto_20200402_2055.py
  backend/apps/iamstudent/migrations/0008_auto_20200402_2211.py
  backend/apps/iamstudent/models.py
Labels: PR:ready-for-merge, size/L

#351 Add new model for grouping emails
  backend/apps/iamstudent/migrations/0007_auto_20200402_1746.py
  backend/apps/iamstudent/migrations/0009_merge_20200402_2309.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/views.py
Labels: size/M

#358 Imporvedhospitalmap
  backend/apps/iamstudent/views.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/templates/map_hospitals.html
  backend/apps/ineedstudent/views.py
  backend/apps/mapview/templates/mapview/map.html
  backend/static/css/map.css
Labels: PR:ready-for-merge, size/L

#346 Hospital dashboard
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/tables.py
  backend/apps/ineedstudent/templates/change_posting.html
  backend/apps/ineedstudent/templates/hospital_dashboard.html
  backend/apps/ineedstudent/templates/modal_button.html
  backend/apps/ineedstudent/templates/student_info_button.html
  backend/apps/ineedstudent/urls.py
  backend/apps/ineedstudent/views.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/static/js/PostingForm.js
  backend/templates/base.html
Labels: PR:ready-for-merge, size/XL

#359 Remove 2. jQuery
  backend/templates/base.html
Labels: size/S

#360 Link to hospital map
  backend/apps/ineedstudent/forms.py
  backend/templates/base.html
Labels: PR:ready-for-merge, size/S

#357 Text changes
  backend/apps/accounts/templates/hospital_signup.html
  backend/apps/iamstudent/templates/student_list_view.html
  backend/apps/iamstudent/views.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge, size/XL

#362 Correct translations
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/L

#354 use https in validation emails
  backend/apps/accounts/utils.py
Labels: PR:ready-for-merge, size/XS

#366 Nicer translation of the template email text
  backend/apps/iamstudent/views.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge

#369 new simpler language switcher
  backend/apps/accounts/urls.py
  backend/templates/base.html
Labels: size/M

#376 add .gitignore for virtual env
  .gitignore
Labels: PR:ready-for-merge, size/XS

#382 Add translation in choices
  backend/apps/iamstudent/models.py
  backend/apps/ineedstudent/models.py
Labels: PR:ready-for-merge

#368 Fix zustimmung margins
  backend/apps/ineedstudent/templates/zustimmung.html
Labels: size/M

#383 Update a fine abgestimmes Form
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/migrations/0010_auto_20200405_2217.py
  backend/apps/iamstudent/models.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/static/css/general.css
Labels: PR:ready-for-merge, size/XS

#373 Release candidate 1.5 test fixes
  backend/apps/accounts/templates/student_edit.html
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/templates/input_buttongroup-any_indicator.html
  backend/apps/iamstudent/templates/input_buttongroup-progress_indicator.html
  backend/apps/iamstudent/templates/send_mail_hospital.html
  backend/apps/iamstudent/views.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/tables.py
  backend/apps/ineedstudent/templates/hospital_dashboard.html
  backend/locale/en/LC_MESSAGES/django.po
  backend/static/css/general.css
  backend/templates/home.html
Labels: PR:ready-for-merge, size/M

#381 Orphaned text on the validation link page
  backend/apps/accounts/templates/registration/password_reset_confirm_.html
Labels: PR:ready-for-merge, size/S

#384 custom migration
  backend/apps/iamstudent/migrations/0010_custom_migration.py
  backend/apps/iamstudent/migrations/0011_merge_20200404_2309.py
  backend/apps/iamstudent/migrations/0012_merge_20200406_0203.py
  backend/apps/iamstudent/views.py
  backend/match4healthcare/views.py
Labels: PR:ready-for-merge, size/M

#385 Fix notification of hospitals about their sent mails
  backend/apps/iamstudent/views.py
Labels: PR:ready-for-merge, size/S

#386 added changelog
  CHANGELOG.md
Labels: PR:ready-for-merge

#392 fixed startup page links, closes #390
  backend/templates/home.html
Labels: PR:ready-for-merge, size/M

#398 Fixed trying to save mail message as subject leading to SQL Error
  backend/apps/ineedstudent/views.py
Labels: PR:ready-for-merge, bug, high-priority, size/XS

#400 fixes #399. PLZ validation error causes exception
  backend/apps/iamstudent/models.py
Labels: PR:ready-for-merge, bug, high-priority, size/XS

#403 DB Timestamps and max_length on textfields
  backend/apps/accounts/migrations/0002_user_email_validation_date.py
  backend/apps/accounts/migrations/0004_custom_migration_timestamps.py
  backend/apps/accounts/models.py
  backend/apps/accounts/utils.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/migrations/0013_emailtosend_send_date.py
  backend/apps/iamstudent/migrations/0014_emailtohospital_send_date.py
  backend/apps/iamstudent/migrations/0015_auto_20200409_1620.py
  backend/apps/iamstudent/migrations/0015_custom_migration_timestamps.py
  backend/apps/iamstudent/migrations/0016_auto_20200409_1920.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/views.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/migrations/0004_auto_20200409_1513.py
  backend/apps/ineedstudent/migrations/0005_auto_20200409_1620.py
  backend/apps/ineedstudent/models.py
  backend/apps/ineedstudent/views.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/match4healthcare/views.py
Labels: PR:ready-for-merge

#405 Change redirection of hospital after confirmation
  backend/apps/accounts/views.py
Labels: PR:ready-for-merge, size/XS

#409 added license agreement for images, pls check
  LICENSE
Labels: size/S

#412 Remove locations from PO file to prevent merge conflicts
  README.md
  backend/locale/en/LC_MESSAGES/django.po
  deploy.sh
Labels: size/L

#410 new design for the language switcher
  backend/static/css/general.css
Labels: size/S

#406 387 remove cdn
  backend/static/css/bootstrap_4.4.1/bootstrap.min.css
  backend/static/css/bootstrap_4.4.1/bootstrap.min.css.map
  backend/static/js/bootstrap_4.4.1/bootstrap.bundle.min.js
  backend/static/js/bootstrap_4.4.1/bootstrap.bundle.min.js.map
  backend/static/js/jquery-3.4.1.min.js
  backend/templates/base.html
Labels: PR:ready-for-merge

#411 Prevent users from sending mails without editing placeholder text
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/views.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/views.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge

#419 Update requirement files and freeze versions
  backend/requirements.prod.txt
  backend/requirements.txt
Labels: size/M

#402 system checks for mail and environment variables
  README.md
  backend/apps/__init__.py
  backend/apps/checks.py
  backend/match4healthcare/settings/development.py
  backend/match4healthcare/settings/production.py
  deploy.sh
Labels: PR:wip, size/L

#420 394 Log errors to Slack / Logging improvement
  README.md
  backend.prod.env
  backend/apps/accounts/views.py
  backend/apps/checks.py
  backend/match4healthcare/logging/__init__.py
  backend/match4healthcare/logging/formatters.py
  backend/match4healthcare/logging/loggers.py
  backend/match4healthcare/settings/common.py
  backend/match4healthcare/settings/development.py
  backend/match4healthcare/settings/production.py
  backend/requirements.txt
  scripts/check_website_availability.sh
Labels: PR:ready-for-merge

#391 47 new mapview
  LICENSE
  backend/apps/ineedstudent/templates/hospital_view.html
  backend/apps/mapview/files/AT.csv
  backend/apps/mapview/files/plzs_merged.json
  backend/apps/mapview/templates/mapview/map.html
  backend/apps/mapview/urls.py
  backend/apps/mapview/utils.py
  backend/apps/mapview/views.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/static/css/general.css
  backend/static/css/map.css
  backend/static/img/map/facility-marker-inkscape.svg
  backend/static/img/map/facility-marker.svg
  backend/static/img/map/hospital-buildings.svg
  backend/static/img/map/supporter-marker.svg
  backend/static/js/Leaflet.FeatureGroup.SubGroup-1.0.2/leaflet.featuregroup.subgroup.js
  backend/static/js/leaflet-1.6.0/images/layers-2x.png
  backend/static/js/leaflet-1.6.0/images/layers.png
  backend/static/js/leaflet-1.6.0/images/marker-icon-2x.png
  backend/static/js/leaflet-1.6.0/images/marker-icon.png
  backend/static/js/leaflet-1.6.0/images/marker-shadow.png
  backend/static/js/leaflet-1.6.0/leaflet.css
  backend/static/js/leaflet-1.6.0/leaflet.js
  backend/static/js/leaflet-1.6.0/leaflet.js.map
  backend/static/js/leaflet.markercluster-1.4.1/MarkerCluster.Default.css
  backend/static/js/leaflet.markercluster-1.4.1/MarkerCluster.css
  backend/static/js/leaflet.markercluster-1.4.1/leaflet.markercluster.js
  backend/static/js/leaflet.markercluster-1.4.1/leaflet.markercluster.js.map
  backend/static/js/mapview.js
  backend/templates/base.html
Labels: PR:ready-for-merge, size/L

#340 Migrate first in case we have outstanding migrations
  deploy.sh
Labels: size/XS

#426 Fix postgres version to use same data folder
  docker-compose.prod.yml
Labels: size/XS

#416 Newsletter functionality
  backend/apps/accounts/email_utils.py
  backend/apps/accounts/forms.py
  backend/apps/accounts/migrations/0005_auto_20200410_2113.py
  backend/apps/accounts/models.py
  backend/apps/accounts/tables.py
  backend/apps/accounts/templates/approve_hospitals.html
  backend/apps/accounts/templates/newsletter_edit.html
  backend/apps/accounts/templates/newsletter_list.html
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/match4healthcare/settings/common.py
  backend/requirements.txt
Labels: PR:ready-for-merge, size/XXL

#439 Enable Slack Logging for dev and prod when env is set
  backend/match4healthcare/settings/common.py
Labels: PR:ready-for-merge, size/XS

#438 430 js fix ios
  CHANGELOG.md
  backend/apps/accounts/templates/student_edit.html
  backend/apps/accounts/templates/student_signup.html
  backend/apps/accounts/views.py
Labels: PR:ready-for-merge, size/M

#428 Changelog v1.6.0-rc1 added
  CHANGELOG.md
Labels: PR:ready-for-merge

#427 Use postgres version 12
  docker-compose.prod.yml
Labels: size/XS
