Repository match4everyone/match4healthcare, pull requests merged in 2020-05, with the labels that each got.

#442 Show docker logs on travis for easier debugging of breaking commits
  .travis.yml
Labels: size/XS

#445 Check for missing and fuzzy translations and prevent merge
  .github/workflows/test-for-translations.yml
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/M

#443 Add non-secret variables directly to .travis.yml
  .travis.yml
Labels: size/XS

#448 Link new youtube video. Fixes #436
  backend/templates/base.html
Labels: size/XS

#449 Add development specific checks
  backend/apps/checks.py
  backend/match4healthcare/settings/development.py
Labels: size/M

#447 Add outstanding migration
  backend/apps/accounts/migrations/0006_auto_20200501_2346.py
  backend/apps/accounts/migrations/0007_auto_20200502_1109.py
  backend/apps/accounts/models.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/M

#452 Correct page title of supporter registration
  backend/apps/accounts/templates/student_signup.html
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/XS

#456 Add new link in legal questions
  backend/apps/accounts/templates/student_edit.html
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge, size/M

#451 Change Duzen to Siezen in password dialogs
  backend/apps/accounts/templates/registration/password_change_done_.html
  backend/apps/accounts/templates/registration/password_reset_complete_.html
  backend/apps/accounts/templates/registration/password_reset_confirm_.html
  backend/apps/accounts/templates/registration/password_reset_email_.html
  backend/apps/accounts/templates/registration/password_reset_form_.html
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/M

#457 Fix important typo ... missing a "not"
  backend/apps/checks.py
Labels: PR:ready-for-merge, size/XS

#455 Add test if migrations were made
  .github/workflows/tests.yml
Labels: size/S

#446 Update readme
  README.md
  deploy.sh
Labels: size/M

#458 Add new option for payment
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/migrations/0017_auto_20200502_2032.py
  backend/apps/iamstudent/models.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge, size/M

#471 Don't use sendgrid and disable checks in travis of forks
  README.md
  backend/apps/checks.py
  backend/match4healthcare/settings/production.py
Labels: size/M

#473 Load Mapbox token from backend environment file
  README.md
  backend.prod.env.example
  backend/apps/checks.py
  backend/apps/mapview/templates/mapview/map.html
  backend/apps/mapview/views.py
  backend/match4healthcare/settings/common.py
  docker-compose.dev.yml
Labels: size/M

#470 Reorganize the admin profile
  backend/apps/accounts/templates/approve_hospitals.html
  backend/apps/accounts/templates/staff_profile.html
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/apps/test_all_url_endpoints.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge, size/L

#484 Fix #482
  .pre-commit-config.yaml
Labels: PR:ready-for-merge, bug, high-priority, size/XS

#483 Add button for use statistics to staff profile
  backend/apps/accounts/templates/staff_profile.html
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/S

#489 Reorganize FilterModel to prevent cyclic dependency
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/models_persistent_filter.py
  backend/apps/iamstudent/views.py
Labels: size/L

#490 Remove new cyclic dependencies
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/forms_filter.py
Labels: PR:ready-for-merge, size/S

#475 Create draft of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#476 Add initial issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: size/M

#486 True pep8
  .flake8
  .pre-commit-config.yaml
  backend/apps/__init__.py
  backend/apps/accounts/admin.py
  backend/apps/accounts/forms.py
  backend/apps/accounts/generate_users.py
  backend/apps/accounts/models.py
  backend/apps/accounts/tests.py
  backend/apps/accounts/utils.py
  backend/apps/accounts/views.py
  backend/apps/iamstudent/admin.py
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/tables.py
  backend/apps/iamstudent/tests.py
  backend/apps/iamstudent/views.py
  backend/apps/iamstudent/widgets.py
  backend/apps/ineedstudent/admin.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/models.py
  backend/apps/ineedstudent/tests.py
  backend/apps/ineedstudent/views.py
  backend/apps/mapview/admin.py
  backend/apps/mapview/models.py
  backend/apps/mapview/tests.py
  backend/apps/mapview/utils.py
  backend/apps/mapview/views.py
  backend/apps/test_all_url_endpoints.py
  backend/apps/use_statistics/admin.py
  backend/apps/use_statistics/models.py
  backend/apps/use_statistics/tests.py
  backend/apps/use_statistics/urls.py
  backend/apps/use_statistics/views.py
  backend/gunicorn.conf.py
  backend/match4healthcare/logging/loggers.py
  backend/match4healthcare/settings/common.py
  backend/match4healthcare/settings/development.py
  backend/match4healthcare/settings/production.py
  backend/match4healthcare/urls.py
  backend/match4healthcare/views.py
Labels: PR:ready-for-merge, high-priority, size/L

#499 Add pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: PR:ready-for-merge, size/S

#491 Clearer error message for use statistics
  backend/apps/use_statistics/views.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/S

#493 Add utilities for creating fake data
  .pre-commit-config.yaml
  README.md
  backend/apps/accounts/generate_users.py
  backend/apps/accounts/urls.py
  backend/apps/iamstudent/management/commands/_utils.py
  backend/apps/iamstudent/management/commands/createfakeusers.py
Labels: PR:ready-for-merge, size/XL

#501 Fix imports after bad merge in #491
  backend/apps/use_statistics/views.py
Labels: size/XS

#477 Reorganize system checks
  README.md
  backend.prod.env.example
  backend/apps/checks.py
  backend/apps/mapview/templates/mapview/map.html
  backend/apps/mapview/views.py
  backend/match4healthcare/constants/__init__.py
  backend/match4healthcare/constants/enum.py
  backend/match4healthcare/settings/common.py
  backend/match4healthcare/settings/development.py
  backend/match4healthcare/settings/production.py
  docker-compose.dev.yml
Labels: PR:ready-for-merge, size/L

#495 More code styling
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
  backend/apps/accounts/admin.py
  backend/apps/accounts/decorator.py
  backend/apps/accounts/email_utils.py
  backend/apps/accounts/forms.py
  backend/apps/accounts/generate_users.py
  backend/apps/accounts/migrations/0004_custom_migration_timestamps.py
  backend/apps/accounts/migrations/0005_auto_20200410_2113.py
  backend/apps/accounts/models.py
  backend/apps/accounts/tables.py
  backend/apps/accounts/urls.py
  backend/apps/accounts/utils.py
  backend/apps/accounts/views.py
  backend/apps/checks.py
  backend/apps/iamstudent/custom_crispy.py
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/forms_filter.py
  backend/apps/iamstudent/management/commands/createfakeusers.py
  backend/apps/iamstudent/migrations/0001_initial.py
  backend/apps/iamstudent/migrations/0002_auto_20200329_1618.py
  backend/apps/iamstudent/migrations/0003_auto_20200330_0020.py
  backend/apps/iamstudent/migrations/0005_student_einwilligung_agb.py
  backend/apps/iamstudent/migrations/0007_auto_20200402_1746.py
  backend/apps/iamstudent/migrations/0010_custom_migration.py
  backend/apps/iamstudent/migrations/0015_custom_migration_timestamps.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/models_persistent_filter.py
  backend/apps/iamstudent/tables.py
  backend/apps/iamstudent/views.py
  backend/apps/iamstudent/widgets.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/migrations/0001_initial.py
  backend/apps/ineedstudent/models.py
  backend/apps/ineedstudent/tables.py
  backend/apps/ineedstudent/urls.py
  backend/apps/ineedstudent/views.py
  backend/apps/mapview/make_plz_json_script.py
  backend/apps/mapview/utils.py
  backend/apps/mapview/views.py
  backend/apps/test_all_url_endpoints.py
  backend/apps/use_statistics/urls.py
  backend/apps/use_statistics/views.py
  backend/gunicorn.conf.py
  backend/match4healthcare/logging/formatters.py
  backend/match4healthcare/logging/loggers.py
  backend/match4healthcare/settings/common.py
  backend/match4healthcare/settings/development.py
  backend/match4healthcare/settings/production.py
  backend/match4healthcare/urls.py
Labels: PR:ready-for-merge, size/XXL

#497 Add github action test for code style
  .github/workflows/tests.yml
  backend/apps/iamstudent/models.py
Labels: size/M

#502 Github code style action
  .github/workflows/tests.yml
  backend/apps/iamstudent/models.py
Labels: size/M

#453 Initial version of a statistics page
  backend/apps/accounts/db_stats.py
  backend/apps/accounts/templates/database_stats.html
  backend/apps/accounts/templates/staff_profile.html
  backend/apps/accounts/urls.py
  backend/apps/accounts/views_staff.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/L

#505 Make the fake users a little more fancy
  backend/apps/iamstudent/management/commands/createfakeusers.py
Labels: size/S

#472 Option to run backend as non-root
  .travis.yml
  README.md
  deploy.sh
  docker-compose.prod.yml
Labels: size/XS

#515 Remove hard coded mapbox token from hospital_map template
  backend/apps/ineedstudent/templates/map_hospitals.html
  backend/apps/ineedstudent/views.py
Labels: size/XS

#517 Fix Issue 512 - Fractional Distances in Student Lookup
  backend/apps/iamstudent/views.py
  backend/apps/ineedstudent/converters.py
  backend/apps/ineedstudent/urls.py
Labels: size/M

#521 520 fix createfakeusers attributes
  backend/apps/iamstudent/management/commands/createfakeusers.py
Labels: size/XS

#454 Change text for mails
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/templates/send_mail_hospital.html
  backend/apps/ineedstudent/templates/hospital_dashboard.html
  backend/locale/en/LC_MESSAGES/django.po
Labels: PR:ready-for-merge, size/M
