Repository match4everyone/match4healthcare, pull requests merged in 2020-06, with the labels that each got.

#530 Additional texts to data protection
  backend/templates/dataprotection.html
Labels: size/M

#524 Adjust the filter
  backend/apps/iamstudent/filters.py
  backend/apps/iamstudent/management/commands/createfakeusers.py
  backend/apps/iamstudent/migrations/0018_auto_20200522_1339.py
  backend/apps/iamstudent/models.py
  backend/apps/iamstudent/tables.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/L

#529 Bump Django requirements to from 3.0.5 to 3.0.7
  backend/requirements.txt
Labels: size/XS

#532 Changes to registration procedure
  backend/apps/accounts/views.py
  backend/apps/iamstudent/forms.py
  backend/apps/iamstudent/management/commands/createfakeusers.py
  backend/apps/iamstudent/migrations/0019_auto_20200613_1655.py
  backend/apps/iamstudent/models.py
  backend/apps/ineedstudent/forms.py
  backend/apps/ineedstudent/templates/zustimmung.html
  backend/apps/ineedstudent/urls.py
  backend/apps/ineedstudent/views.py
  backend/apps/test_all_url_endpoints.py
  backend/locale/en/LC_MESSAGES/django.po
Labels: size/L

#533 V1.7.0rc1 changelog
  CHANGELOG.md
Labels: PR:ready-for-merge, size/XS

#537 536 1.7.0 rc1 fixes
  backend/apps/accounts/templates/student_edit.html
  backend/apps/accounts/views.py
  backend/apps/iamstudent/templates/thanks.html
  backend/locale/en/LC_MESSAGES/django.po
  backend/templates/impressum.html
  backend/templates/legal-questions.html
Labels: size/L
